#grdFilaPac{counter-reset:paciente;}
.GridItem, .GridAlternatingItem{counter-increment:paciente;}
.GridItem::before, .GridAlternatingItem::before{content:counter(paciente) ")"; display:table-cell; background-color:#fffa; border-bottom:1px solid #fffa; text-align:right; width:10px; padding:2px;}
