<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".webmanifest" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
      <remove fileExtension=".upa24" />
      <mimeMap fileExtension=".upa24" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>
